* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: myFirstFont;
  src: url(/webfonts/fonts/Fontspring-DEMO-proximanova-extraboldit.otf);
}

.header {
  width: 100%;
  background-color: #022c43;
  color: #fff;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  height: 90px;
}

body {
  background-image: url("./image/background.jpg");
}

hr {
  width: 20%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.logo {
  width: 40px;
  height: 48px;
  display: inline-flex;
  flex: 1;
  position: relative;
  padding-left: 1.5em;
}

.logo-sub {
  position: relative;
  top: 15px;
}
.logo-t {
  position: relative;
  right: 48px;
  bottom: 10px;
}

.menu-link {
  padding-left: 1.2em;
  padding-right: 1.2em;
  display: none;
  color: #fff;
}

.mobile-menu {
  position: absolute;
  right: 1em;
  top: 2em;
  width: 1.2em;
}
.menu-icon {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.introduction {
  padding-top: 5em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.portfolio-pic:hover {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background-color: #617ac4;
  transform: rotate(-45deg);
  transition-delay: 0.1s;
}

h1 {
  margin-bottom: 10px;
  font-family: myFirstFont;
}

h2 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

.about-me {
  margin-bottom: 5em;
}

.all-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding-top: 40px;
  flex-wrap: wrap;
}

.coding-image {
  width: 250px;
  flex-shrink: 0;
  animation: 3s linear 0s infinite running myScale;
}

@keyframes myScale {
  50% {
    transform: scale(0.5, 0.5);
  }
}

.right-about-me {
  width: 30em;
  text-align: justify;
}

p {
  padding: 15px 20px 15px 20px;
}

.skill {
  margin-bottom: 5em;
}

.all-skill {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  gap: 50px;
}
.programming-skill {
  width: 15em;
}

.skill-rotate {
  display: block;
  padding-top: 5px;
}

.skill-rotate-x {
  animation: 7s linear 0s infinite running myRotate-x;
}
.skill-rotate-y {
  animation: 7s linear 0s infinite running myRotate-y;
}
.skill-rotate-z {
  animation: 7s linear 0s infinite running myRotate-x;
}

@keyframes myRotate-x {
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes myRotate-y {
  100% {
    transform: rotateY(100deg);
  }
}

.experience {
  margin-bottom: 40px;
}

.timeline {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.timeline-edu {
  padding-left: 50px;
  padding-right: 50px;
}

.timeline-career {
  padding-left: 50px;
  padding-right: 50px;
}

li {
  text-align: left;
}

.project {
  padding-top: 50px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 600px);
  row-gap: 50px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

figcaption {
  text-align: center;
}

.pro-pic:hover {
  background-color: #1447e3;
}

.form {
  padding-top: 40px;
}

legend {
  text-align: center;
}

fieldset {
  padding-top: 30px;
}

.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.left-contact {
  width: 200px;
  padding-left: 30px;
}

select {
  margin-left: 7px;
}
.right-contact {
  text-align: center;
}

textarea {
  display: block;
}

footer {
  display: flex;
  text-align: center;
  margin-top: 5em;
}

.copyright {
  width: 50vw;
}

.happy-coding {
  width: 50vw;
}

.pro-pic::before {
  width: 80%;
  height: 80%;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .navbar {
    flex-direction: row;
  }
  .menu-link {
    display: inline-flex;
  }
  .introduction {
    flex-direction: row;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 3em;
  }
  textarea {
    width: 350px;
    height: 150px;
  }
}

@media screen and (max-width: 767.5px) {
  .introduction {
    flex-direction: column;
  }
  .intro {
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
    text-align: center;
  }
  .all-skill {
    flex-direction: column;
    align-items: center;
  }

  .timeline {
    flex-direction: column;
  }

  .project1 {
    width: 80%;
  }

  .pro-pic {
    width: 80%;
    height: 80%;
  }
  .project2 {
    width: 80%;
  }
  .project3 {
    width: 80%;
  }
  .project4 {
    width: 80%;
  }
  .contact-flex {
    flex-direction: column;
  }
  textarea {
    width: 350px;
    height: 150px;
  }
  .profile-pic {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  textarea {
    width: 300px;
    height: 100px;
  }
  .project1 {
    width: 50%;
  }

  .pro-pic {
    width: 60%;
    height: 60%;
  }
  .project2 {
    width: 50%;
  }
  .project3 {
    width: 50%;
  }
  .project4 {
    width: 50%;
  }
  iframe {
    width: 80%;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .coding-image {
    width: 150px;
    height: 150px;
  }
}

/* for customdialog page */
.native-diaglog,
.customDialog {
  display: grid;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.dialogBox {
  margin: auto;
  padding: 2rem;
}

/* for styledcrud page */
.topic-list {
  font-size: 2rem;
  font-weight: 10 00;
  text-decoration: underline;
  position: relative;
  right: 12px;
}

.main-crud {
  margin: 3rem;
}

.sample-post {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.add-dialog,
.edit-dialog,
.delete-dialog {
  justify-content: center;
  padding: 2rem;
  margin: auto;
}

#sample-posts {
  margin-left: 2rem;
}

.edit-button,
.delete-button,
.add-button {
  margin-left: 1.2rem;
}

.add-button,
.save-add-button,
.edit-save-button,
.deleteOkBtn,
.cancle-button {
  border-radius: 8%;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 4px;
  background-color: #022c43;
  color: white;
}

/* adding to part 5 hw4 */
.send-button {
  background-color: #022c43;
  color: white;
}

.icon {
  font-size: 2rem;
}
.icon:hover {
  color: #dd650a;
  font-size: 3rem;
}
.pro-pic:hover {
  width: 550px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h2 {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
}
